 <div *ngFor="let product of products" class="lista-produse-2">
    <div class="container">
    <mat-card class="example-card lista-produse">

        <mat-card-header>
           
                
            
            <mat-card-title>
                {{product.title}}
            </mat-card-title>
        </mat-card-header>
        

            <img class="mat-card-image image" [src]="product.image" />
        <div class="overlay">
            <button type="button" (click)="addToCart(product)" class="material-symbols-outlined icon">
                add_shopping_cart
            </button>
        </div>
    
   

        <mat-card-content>
            <p>
              {{product.description}}  
            </p>
        </mat-card-content>
        <!-- <app-produs-id></app-produs-id> -->

     
        <mat-card-title>{{product.price | currency: 'RON'}}</mat-card-title>
        
     </mat-card>
     <!-- <app-produs-id [products]="product"></app-produs-id> -->
    </div>
    
 </div>
 <!-- <mat-card class="product">
    <button mat-icon-button routerLink="add-product"><mat-icon class='mat-icon'>add</mat-icon></button>
  </mat-card>
  <app-parent></app-parent> -->
