.card {
    max-width: 410px;
    margin: 3rem 3rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete-button {
    color: red;
}

button {
    margin-right: 8px;
}

.grid-container {
    display: inline-grid;
    width: 30rem;
}