<mat-form-field>
    <mat-label>

    </mat-label>
    <textarea matInput [(ngModel)]="description" name="inputDescription" placeholder="Description" ></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>

    </mat-label>
    <textarea matInput [(ngModel)]="description" name="inputDescription" placeholder="Description" ></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>

    </mat-label>
    <textarea matInput [(ngModel)]="description" name="inputDescription" placeholder="Description" ></textarea>
  </mat-form-field>